.change-color {
    color: blue;
}

.table-size {
    width: 300px;
    height: 200px;
}

.new-class {
    color: darkblue;
}

#id {
    color: red;
}

.content {
    font-weight: bold;
}

p {
    color: brown;
}
