html {
    font-family: 'Roboto', sans-serif;
}
.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}


/* Header */

.header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    max-width: 1300px;
    min-height: 80px;
    background-color: #213B7E;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: space-between;
    align-items: center;
}

.site-menu {
    display: flex;
    flex-wrap: wrap;
    align-self: stretch;
    padding: 0;
    margin: 0;
    list-style: none;
}

.site-menu > li {
    display: flex;
    flex-wrap: wrap;
}

.menu-link {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    padding: 0 18px;
    background-color: #213B7E;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    text-decoration-line: underline;
}

.menu-link:hover {
    background-color: #FFFFFF;
    color: #213B7E;
    text-decoration-line: none;
}

.login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #EA5D21;
    width: 100%;
    max-width: 153px;
    min-height: 50px;
}

/* Main */

.main {
    width: 100%;
    max-width: 911px;
    margin: 0 auto;
    flex-grow: 1;
}

.main-heading {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
}

.class-photo {
    width: 100%;
    max-width: 523px;
    height: 316px;
}

h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
}

.intro-text {
    width: 100%;
    max-width: 634px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

em {
    color: rgba(207, 85, 16, 1);
}

/* Footer */

.footer {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    box-sizing: border-box;
    max-width: 1300px;
    min-height: 60px;
    margin: 0 auto;
    padding: 0 16px;
    justify-content: center;
    align-items: center;
    background-color: #213B7E;
}

.copyright {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
}

.innop-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
}

/* Media */

@media (max-width: 1300px) {
    .header{
       width: 70%;
    }

    .site-menu {
        width: 60%;
        min-height: 80px;
    }
}